
@{
    ViewBag.Title = "ClimaTempo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/select2js")
@Styles.Render("~/bundles/select2css")

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-single').select2();

        $('.js-example-basic-single').on('select2:select', function (e) {
            console.log($('.js-example-basic-single').val())

             $.ajax({
                url: '@Url.Action("CardsPrevisaoSemana", "ClimaTempo")',
                type: "POST",
                 data: { idCidade: $('.js-example-basic-single').val() }
            })
            .done(function (partialViewResult) {
                $(".target").html(partialViewResult);
            });
        });
    });



</script>

<h2>ClimaTempo</h2>

@{
    Html.RenderAction("CardsCidadesMaisQuentesFrias", "ClimaTempo");
}


@Html.DropDownList("Cidade", null, new { @class = "js-example-basic-single" })

<div class="target">
    @{
        Html.RenderAction("CardsPrevisaoSemana", "ClimaTempo");
    }
</div>